.toggle-password-button {
	float: right;
	margin-right: 11px;
	margin-top: -27px;
	position: relative;
	z-index: 2;
	cursor: pointer;
	pointer-events: auto;
	color: rgba(0, 0, 0, 0.4);
	transition: all 200ms linear;
}
.toggle-password-button:hover {
	color: rgba(0, 0, 0, 0.8);
}
